@import 'colors';
@import 'functions/flex';

.city {
  background-color: $mid-pink;
  @include flex(column, 4rem, flex-end);
  width: 50%;
  color: $white;
  padding: 1rem 1rem 2rem;

  svg {
    font-size: 2rem;
  }

  .titles {
    h5 {
      font-size: 1.5rem;
    }

    h6 {
      text-align: end;
      font-size: 1rem;
    }
  }
}

.city:nth-child(4n+2),
.city:nth-child(4n+3) {
  background-color: $deep-pink;
}