@import 'colors';

.icon-button {
  background-color: inherit;
  color: inherit;
  border: 0;
  padding: 0.25rem;
  color: $white;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;

  &:focus {
    background-color: $deep-pink;
  }

  svg {
    font-size: 2.5rem;
  }
}